body{
	background: #ECEFF1
}

.wrap{
	margin-top: 1em
}

.red{
	background: red
}

.login-box {
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
  background: #fefefe;
  border-radius: 0;
  overflow: hidden;
}

.login-box-title {
  font-weight: 300;
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}

.login-box-form-section,
.login-box-social-section-inner {
  padding: 3.5rem;
}

.login-box-input {
  margin-bottom: 1.25rem;
  border: 0;
  padding: 0 12px;
  box-shadow: none;
  border-bottom: 1px solid #1779ba;
  font-weight: 400;
  width: 250px
}

.login-box-input:focus {
  color: #1779ba;
  transition: 0.2s ease-in-out;
  box-shadow: none;
  border: 0;
  border-bottom: 2px solid #1779ba;
}

.input-number-group {
  display: flex;
}

.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
    appearance: none;
}

.input-number-group .input-group-button {
  line-height: calc(80px/2 - 5px);
}

.input-number-group .input-number {
  width: 170px;
  padding: 0 12px;
  text-align: center;
  outline: none;
  margin: 0;
  height: 2rem;
  box-shadow: none;
  font-weight: 400;
  margin-left: 36.56px;
}

.input-number:focus {
  color: #1779ba;
  box-shadow: none;
}

.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  height: 40px;   
  user-select: none;
}

.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  border: 1px solid #cacaca;
  display: inline-block;
  width: 40px;
  background: #fff;
  color: #0a0a0a;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
}

.time{
	font-weight: 300;
  	font-size: 0.675rem;
  	color: #1779ba;
}

.submit{
	width: 123px
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.blue{
	background: blue
}

.stats-list {
  list-style-type: none;
  clear: left;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.stats-list .stats-list-positive {
  color: #3adb76;
}

.stats-list .stats-list-negative {
  color: #cc4b37;
}

.stats-list > li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #cacaca;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.stats-list > li:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.stats-list > li .stats-list-label {
  display: block;
  margin-top: 2px;
  font-size: 0.9em;
  font-weight: normal;
}

.head {
  background-color: #fefefe;
  border: solid 1px #cacaca;
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.title {
  background-color: #0a0a0a;
  color: #fefefe;
  border-bottom: 0;
    border: solid 1px #cacaca;
  width: 100%;
  text-align: center;
  list-style-type: none;

}