<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning</title>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body >
    <div id="app">
      <div class="wrap row columns large-12" v-show="wrap_p">
      
        <!-- Menu -->
        <ul class="tabs" data-tabs id="example-tabs">
        <li v-on:click="change" class="tabs-title is-active"><a href="#panel1" aria-selected="true">FIFO</a></li>
        <li v-on:click="change" class="tabs-title"><a href="#panel2">PRIORITY</a></li>
        <li v-on:click="change" class="tabs-title"><a href="#panel3">SJF</a></li>
        <li v-on:click="change" class="tabs-title"><a href="#panel4">ROUND ROBI</a></li>
        </ul>

        <!-- Start Panels -->
        <div class="tabs-content" data-tabs-content="example-tabs">
        <!-- Start Panel 1 -->
        <div class="tabs-panel is-active" id="panel1">
          <div class="row columns large-12">
            <div class="login-box">
              <!-- Start Setions -->
              <div class="row collapse expanded">

                <!-- Start Setion 1 -->
                <div class="small-12 medium-6 column large-5">
                  <div class="login-box-form-section large-10">
                    <h5 class="login-box-title">FIFO</h5>
                    <input v-model="name" class="login-box-input" type="text" placeholder="Nombre de Proceso"/>

                    <box-input title="Tiempo de Llegada" v-model="tll"></box-input>
                    <box-input title="Tiempo de Rafaga" v-model="raf"></box-input>

                    <span class="button submit" v-on:click="add">AGREGAR</span>
                    <span class="button submit success" v-on:click="calcular(0)">CALCULAR</span>
                  </div>
                </div>
                <!-- End Setion 1 -->

                <!--Session 2-->
                <div class="small-12 medium-6 column large-7 login-box-social-section">
                  <div class="login-box-social-section-inner">
                    <table>
                      <thead class="thead">
                        <tr>
                          <th>Proceso</th>
                          <th>T. Llegada</th>
                          <th>T. Rafaga</th>
                        </tr>
                      </thead>
                      <tr v-for="data in datas">
                        <th>{{data.name}}</th>
                        <th>{{data.tll}}</th>
                        <th>{{data.raf}}</th>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- End Setion 2 -->
              </div>
              <!-- End Setions -->
            </div>
          </div>
        </div>
        <!-- End Panel 1 -->
        <!-- Start Panel 2 -->
        <div class="tabs-panel" id="panel2">
          <div class="row columns large-12">
            <div class="login-box">
              <!-- Start Setions -->
              <div class="row collapse expanded">

                <!-- Start Setion 1 -->
                <div class="small-12 medium-6 column large-5">
                  <div class="login-box-form-section large-10">
                    <h5 class="login-box-title">Priority</h5>
                    <input v-model="name" class="login-box-input" type="text" placeholder="Nombre de Proceso"/>

                    <box-input title="Tiempo de Llegada" v-model="tll"></box-input>
                    <box-input title="Tiempo de Rafaga" v-model="raf"></box-input>
                    <box-input title="Prioridad" v-model="raf"></box-input>

                    <span class="button submit" v-on:click="add">AGREGAR</span>
                    <span class="button submit success" v-on:click="calcular(1)">CALCULAR</span>

                  </div>
                </div>
                <!-- End Setion 1 -->

                <!--Session 2-->
                <div class="small-12 medium-6 column large-7 login-box-social-section">
                  <div class="login-box-social-section-inner">
                    <table>
                      <thead class="thead">
                        <tr>
                          <th>Proceso</th>
                          <th>T. Llegada</th>
                          <th>T. Rafaga</th>
                          <th>Prioridad</th>
                        </tr>
                      </thead>
                      <tr v-for="data in datas">
                        <th>{{data.name}}</th>
                        <th>{{data.tll}}</th>
                        <th>{{data.raf}}</th>
                        <th>{{data.pri}}</th>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- End Setion 2 -->
              </div>
              <!-- End Setions -->
            </div>
          </div>
        </div>
        <!-- End Panel 2 -->
        <!-- Start Panel 3 -->
        <div class="tabs-panel" id="panel3">
          <div class="row columns large-12">
            <div class="login-box">
              <!-- Start Setions -->
              <div class="row collapse expanded">

                <!-- Start Setion 1 -->
                <div class="small-12 medium-6 column large-5">
                  <div class="login-box-form-section large-10">
                    <h5 class="login-box-title">SJF</h5>
                    <input v-model="name" class="login-box-input" type="text" placeholder="Nombre de Proceso"/>

                    <box-input title="Tiempo de Llegada" v-model="tll"></box-input>
                    <box-input title="Tiempo de Rafaga" v-model="raf"></box-input>

                    <span class="button submit" v-on:click="add">AGREGAR</span>
                    <span class="button submit success" v-on:click="calcular(2)">CALCULAR</span>

                  </div>
                </div>
                <!-- End Setion 1 -->

                <!--Session 2-->
                <div class="small-12 medium-6 column large-7 login-box-social-section">
                  <div class="login-box-social-section-inner">
                    <table>
                      <thead class="thead">
                        <tr>
                          <th>Proceso</th>
                          <th>T. Llegada</th>
                          <th>T. Rafaga</th>
                        </tr>
                      </thead>
                      <tr v-for="data in datas">
                        <th>{{data.name}}</th>
                        <th>{{data.tll}}</th>
                        <th>{{data.raf}}</th>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- End Setion 2 -->
              </div>
              <!-- End Setions -->
            </div>
          </div>
        </div>
        <!-- End Panel 3 -->
        <!-- Start Panel 4 -->
        <div class="tabs-panel" id="panel4">
          <div class="row columns large-12">
            <div class="login-box">
              <!-- Start Setions -->
              <div class="row collapse expanded">

                <!-- Start Setion 1 -->
                <div class="small-12 medium-6 column large-5">
                  <div class="login-box-form-section large-10">
                    <h5 class="login-box-title">Round Robi</h5>
                    <input v-model="name" class="login-box-input" type="text" placeholder="Nombre de Proceso"/>

                    <box-input title="Tiempo de Llegada" v-model="tll"></box-input>
                    <box-input title="Tiempo de Rafaga" v-model="raf"></box-input>
                    <box-input title="Quantum" v-model="qt"></box-input>

                    <span class="button submit" v-on:click="add">AGREGAR</span>
                    <span class="button submit success" v-on:click="calcular(3)">CALCULAR</span>

                  </div>
                </div>
                <!-- End Setion 1 -->

                <!--Session 2-->
                <div class="small-12 medium-6 column large-7 login-box-social-section">
                  <div class="login-box-social-section-inner">
                    <table>
                      <thead class="thead">
                        <tr>
                          <th>Proceso</th>
                          <th>T. Llegada</th>
                          <th>T. Rafaga</th>
                          <th>Quantum</th>
                        </tr>
                      </thead>
                      <tr v-for="data in datas">
                        <th>{{data.name}}</th>
                        <th>{{data.tll}}</th>
                        <th>{{data.raf}}</th>
                        <th>{{data.qt}}</th>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- End Setion 2 -->
              </div>
              <!-- End Setions -->
            </div>
          </div>
        </div>
        <!-- End Panel 4 -->
        </div>
        <!-- End Panels -->
      </div>

      <div  v-if="wrap_s" class="wrap-s row columns large-10 ">
        <div class="  card">
          <ul class="stats-list">
            <li>Tiempo anticipado
              <span class="stats-list-label">Nombre</span> Tiempo final
            </li>
            <li v-for="(data, index) in datas" class="stats-list-negative">
              {{data.ant}} <span class="stats-list-label">{{data.name}}</span> {{data.fin}}
            </li>
          </ul>
        </div>

        <div class="row columns info">
          <div class="columns large-6">
            <div>
              <label class="title">Informacion de Procesos</label>
              <ul v-for="data in datas" class="stats-list">
                <li>{{data.name}}
                  <span class="stats-list-label">Nombre</span> 
                </li>
                <li>{{data.esp}}
                  <span class="stats-list-label">Espera</span> 
                </li>
                <li>{{data.res}}
                  <span class="stats-list-label">Respuesta</span> 
                </li>
                <li>{{data.tll}}
                  <span class="stats-list-label">Llegada</span> 
                </li>
                <li>{{data.raf}}
                  <span class="stats-list-label">Rafaga</span> 
                </li>
                <li>3400
                  <span class="stats-list-label">Rafaga</span> 
                </li>
              </ul>
            </div>
          </div>

          <div class="columns large-6">
            <div class="columns large-6">
              <label class="title">Espera</label>
              <ul class="stats-list">
                <li>laago
                  <span class="stats-list-label">Nombre</span> 
                </li>
              </ul>
            </div>
            <div class="columns large-6">
              <label class="title">Respuesta</label>
              <ul class="stats-list">
                <li>laago
                  <span class="stats-list-label">Nombre</span> 
                </li>
              </ul>
            </div>
            <div class="columns large-5">
              <a class="back row columns" v-on:click="back">Editar Procesos</a>
            </div>
          </div>          
        </div>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.4.0/Rx.js"></script>
    <script src="../main.js"></script>
    <script src="js/vendor/vue.min.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>    
    <script src="js/component/box-input.js"></script>    
    <script src="js/app.js"></script>
  </body>
</html>